<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- HISTORIA DE USUARIO -->
    <!-- 
        Como cliente quiero ver un resumen de la oferta de productos para poder decidir rápidamente si quedarme o buscar el producto en otro sitio.
        
        Como cliente quiero que el sitio funcione bien en mi teléfono celular para poder acceder en cualquier momento.
    -->
</body>
</html>