<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/b89af2b70f.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- HISTORIA DE USUARIO -->
    <!-- 
        Como cliente quiero ver un resumen de la oferta de productos para poder decidir rápidamente si quedarme o buscar el producto en otro sitio.

        Como cliente quiero que el sitio funcione bien en mi teléfono celular para poder acceder en cualquier momento.
    -->
    <header class="header">
        <div class="header__menu-burger">
            <span class="header__menu-burger-span line-1"></span>
            <span class="header__menu-burger-span line-2"></span>
            <span class="header__menu-burger-span line-3"></span>
        </div>
        <h1 class="header__title">
            TechBox
        </h1>
        <div class="header__logo">
            <div class="top"></div>
            <div class="header__logo-cubo">
                <span style="--i:0"></span>
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
            </div>
            <div class="bottom">Comprar</div>
        </div>
    </header>
    <div class="menu__desplegable">
        <form action="" class="menu__desplegable-form">
            <input type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <ul>
            <li>
                <div class="link">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Inicio</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <a href="/misCompras">Mis compras</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-heart"></i>
                    <a href="/favoritos">Favoritos</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-house"></i>
                    <a href="/micuenta">Mi cuenta</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-user"></i>
                    <a href="/login">Inicia secion</a>
                </div>
                <span></span>
            </li>
        </ul>
    </div>
    <main>
        <!-- carrusel -->
        <div class="carrousel">
            <div class="carrousel__slice">
                <img src="img/publicidad-banner/amd-ryzen-radeon-banner.jpg" alt=""
                    class="carrousel__img carrousel__section">
                <img src="img/publicidad-banner/logi.jpg" alt="" class="carrousel__img carrousel__section">
                <img src="img/publicidad-banner/nvidia-gtx-2080.jpg" alt="" class="carrousel__img carrousel__section">
            </div>

            <ul class="carrousel__puntos">
                <li class="carrousel__punto active"></li>
                <li class="carrousel__punto"></li>
                <li class="carrousel__punto"></li>
            </ul>
        </div>
        <!-- productos destacados -->
        <div class="carrousel__products">
            <i class="fa-solid fa-arrow-left arrow-left"></i>
            <div class="carrousel__products-slice">

                <div class="product">
                    <img src="img/product/razer-blade-14.jpg" alt="" class="product__img">
                    <div class="product-detail">
                        <h4 class="product__title">
                            RAZER HAMMERHEAD TRUE WIRELESS
                        </h4>
                        <p class="product__info">
                            Ilumina tu inmersión
                        </p>
                        <div class="product__compra">
                            <p class="product__price">$44.500</p>
                            <button class="product__buy">Comprar</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="img/product/auriculares.png" alt="" class="product__img">
                    <div class="product-detail">
                        <h4 class="product__title">
                            RAZER HAMMERHEAD TRUE WIRELESS
                        </h4>
                        <p class="product__info">
                            Ilumina tu inmersión
                        </p>
                        <div class="product__compra">
                            <p class="product__price">$44.500</p>
                            <button class="product__buy">Comprar</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="img/product/teclado.jpg" alt="" class="product__img">
                    <div class="product-detail">
                        <h4 class="product__title">
                            RAZER HAMMERHEAD TRUE WIRELESS
                        </h4>
                        <p class="product__info">
                            Ilumina tu inmersión
                        </p>
                        <div class="product__compra">
                            <p class="product__price">$44.500</p>
                            <button class="product__buy">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
            <i class="fa-solid fa-arrow-right arrow-right"></i>
        </div>
        <!-- productos generales -->
        <article id="productGenerales">
            <div class="bloques_index">
                <div class="img__products">
                    <img src="img/product/razer-hammerhead.jpg" alt="" class="imagenes__producst">
                </div>
                <div class="linkinfo">
                    <h3 class="product__title">RAZER HAMMERHEAD TRUE WIRELESS</h3>
                    <div class="product__info">
                        <p>Ilumina tu inmersión</p>
                    </div>
                    <a href="#" target="_blank"><button>COMPRAR</button></a>
                </div>
            </div>

            <div class="bloques_index">
                <div class="img__products">
                    <img src="img/product/razer-hammerhead.jpg" alt="" class="imagenes__producst">
                </div>
                <div class="linkinfo">
                    <h3 class="product__title">RAZER HAMMERHEAD TRUE WIRELESS</h3>
                    <div class="product__info">
                        <p>Ilumina tu inmersión</p>
                    </div>
                    <a href="#" target="_blank"><button>COMPRAR</button></a>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-info">
                <a href="">Como puedo pagar</a>
                <a href="">Contactanos</a>
                <a href="">Soporte</a>
                <a href="">Ayuda</a>
            </div>
            <div class="redes-sociales">
                <div class="redes-sociales-red">
                    <a href="#"><i class="fab fa-facebook icono"></i></a>
                    <a href="#"><i class="fab fa-twitter icono"></i></a>
                </div>
                <div class="redes-sociales-red">
                    <a href="#"><i class="fab fa-instagram icono"></i></a>
                    <a href="#"><i class="fa-brands fa-whatsapp icono"></i></a>
                </div>
            </div>
        </div>
        <div class="copy">
            <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/24faa51053.js" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>

</html>