<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- HISTORIA DE USUARIO -->
    <!--
        Como cliente quiero poder loguearme para acceder a mi historial de compras.
        
        Como cliente quiero tener la opción de que el sitio me recuerde para no escribir mi usuario y contraseña cada vez.

        Como cliente quiero poder recuperar la contraseña para poder ingresar si me la olvido.
    -->
    <header>

    </header>
    <main>
        
    </main>
    <footer>
        

    </footer>

</body>
</html>