<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- HISTORIA DE USUARIO -->
    <!--
        Como cliente quiero poder acceder al detalle de mi carrito de compras en cualquier momento para finalizar la compra.
        Como cliente quiero poder modificar productos del carrito para poder eliminarlos de la compra o modificar la cantidad.
    -->
</body>
</html>