<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Registro</title>
    <script src="https://kit.fontawesome.com/b89af2b70f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HISTORIA DE USUARIO -->
    <!--
        Como cliente quiero poder registrarme para estar en su base de datos y acceder a mi perfil e historial de compras de una manera más sencilla y, además, facilitar el proceso de futuras compras.
    -->
    <header class="header">
        <div class="header__menu-burger">
            <span class="header__menu-burger-span"></span>
            <span class="header__menu-burger-span"></span>
            <span class="header__menu-burger-span"></span>
        </div>
        <h1 class="header__title">
            TechBox
        </h1>
        <div class="header__logo">
            <div class="top"></div>
            <div class="header__logo-cubo">
                <span style="--i:0"></span>
                <span style="--i:1"></span>
                <span style="--i:2"></span>
                <span style="--i:3"></span>
            </div>
            <div class="bottom">Comprar</div>
        </div>
    </header>
    <main>
        
    </main>
    <footer>
        <div class="footer-content">
            <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
            <div class="redes-sociales">
              <a href="#"><i class="fab fa-facebook icono"></i></a>
              <a href="#"><i class="fab fa-twitter icono"></i></a>
              <a href="#"><i class="fab fa-instagram icono"></i></a>
            </div>
          </div>
    </footer>
</body>
</html>