<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <div class="admin__container">
        <div class="admin__form-title">
            <h1>
                Administración de Productos
            </h1>
        </div>
        <div class="admin__form-form">
            <form class="product__admin-form">
                <label for="name">Nombre del producto:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="description">Descripción:</label>
                <textarea id="description" name="description" required></textarea>
                
                <label for="image">Imagen:</label>
                <input type="file" id="image" name="image" accept="image/jgp, image/jpeg" required>
                
                <label for="category">Categoría:</label>
                <select id="category" name="category" required>
                    <option value="hardware">Hardware</option>
                    <option value="perifericos">Perifericos</option>
                    <option value="kits">Kits</option>
                    <option value="monitores">Monitores</option>
                </select>
                
                <label for="colors">Colores:</label>
                <input type="text" id="colors" name="colors">
                
                <label for="price">Precio:</label>
                <input type="number" id="price" name="price" step="10" required>
                
                <button type="submit" value="Guardar">Guardar</button>
            </form>
        </div>
    </div>
</body>
</html>






