<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <main>
        <article class="form-login-register">
            <form action="/products/loadProduct" method="POST" class="form">
                <h4>Cargar Producto</h4>
                <h2>TechBox</h2>
                <div class="form__campos">
                    <input type="text" name="productname" placeholder="Nombre del producto" required>
                    <input type="text" name="description" placeholder="Descripcion del producto" required>
                    <input type="number" name="price" placeholder="Precio del producto" required>
                    <select name="category" id="category">
                        <option value="Hardware" selected>Hardware</option>
                        <option value="software">software</option>
                        <option value="perifericos">perifericos</option>
                    </select>
                    <input type="file" name="image" placeholder="Imagen del producto" required>
                </div>
                <div class="form__buttom">
                    <input type="submit" value="Cargar Producto"></input>
                </div>
            </form>
        </article>
    </main>
</body>
</html>






