<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="error-body">
    <div class="container-404">
       <div class="error-page">
            <div class="error-title">
                <h2>404</h2>
            </div>
            <div class="error-content">
                <h4>Ops! La página que buscas no existe.</h4>
            </div>
            <div class="error-btn">
                <button><a href="/">Volver</a></button>
            </div>
       </div> 
    </div>
</body>
</html>