<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>
    <main>
        <article class="form-login-register">
            <form method="POST" action="/products/<%= product.articulos_id %>/delete?_method=DELETE" class="form" enctype="application/x-www-form-urlencoded">
                <h2>TechBox</h2>
                <div class="form__campos">
                    <h4>Esta seguro de eliminar el producto <%= product.name %></h4>
                </div>
                <div class="form__buttom">
                    <input type="submit" value="Eliminar"></input>
                </div>
            </form>
        </article>
    </main>
</body>
<script src="/js/script.js"></script>
</html>




