<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <!-- HISTORIA DE USUARIO -->

    <!--
        Como cliente quiero poder ver toda la informaci칩n relevante del producto para decidir si voy a comprarlo.

        Como cliente quiero poder agregar f치cilmente el producto a mi carrito para poder comprarlo.
    -->
    <%- include('./partials/header') %>
    <main class="productoDetail-content">
        <article class="producto">
            <div class="productoImage">
                <div class="productImages">
                    <img src="/img/product/geforce-rtx-4090-product-gallery-full-screen-3840-1.jpg" alt="">
                    <img src="/img/product/geforce-rtx-4090-product-gallery-full-screen-3840-2.jpg" alt="">
                    <img src="/img/product/geforce-rtx-4090-product-gallery-full-screen-3840-3.jpg" alt="">
                </div>
                <img src="/img/product/geforce-rtx-4090-product-gallery-full-screen-3840-1.jpg" alt="">
            </div>
            <div class="productoDetail">
                <h2>
                    GeForce RTX 4090-12GB-DLSS3
                </h2>
                <p>
                    Nuevos multiprocesadores de datos
                </p>
                <p>
                    Gr치ficos M치s Realistas e Inmersivos
                </p>
                <P>
                    Voz y Video Mejorados con IA
                </P>
                <P class="productoPrice">
                    US$1800 precio anterior US$2000(20% off)
                </P>
                <div class="productoGaratias">
                    <div class="garantias">
                        <i class="fa-solid fa-shield-halved"></i>
                        Garantia de 36 meses
                    </div>
                    <div class="garantias">
                        <i class="fa-solid fa-check"></i>
                        Disponible en stock
                    </div>
                    <div class="garantias">
                        <i class="fa-solid fa-truck"></i>
                        Envio gratis y asegurado
                    </div>
                </div>
                <button class="producto-card">Agregar al carro</button>
            </div>
        </article>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/script.js"></script>
</body>

</html>