<footer>
    <div class="footer-content">
        <div class="footer-info">
            <a href="">Como puedo pagar</a>
            <a href="">Contactanos</a>
            <a href="">Soporte</a>
            <a href="">Ayuda</a>
        </div>
        <div class="redes-sociales">
            <div class="redes-sociales-red">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook icono"></i></a>
                <a href="https://twitter.com"><i class="fab fa-twitter icono"></i></a>
            </div>
            <div class="redes-sociales-red">
                <a href="https://www.instagram.com"><i class="fab fa-instagram icono"></i></a>
                <a href="#"><i class="fa-brands fa-whatsapp icono"></i></a>
            </div>
        </div>
    </div>
    <div class="copy">
        <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
    </div>
</footer>