<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Inicio</title>
    <script src="https://kit.fontawesome.com/b89af2b70f.js" crossorigin="anonymous"></script>
</head>