<header class="header">
    <div class="header__menu-burger">
        <span class="header__menu-burger-span line-1"></span>
        <span class="header__menu-burger-span line-2"></span>
        <span class="header__menu-burger-span line-3"></span>
    </div>
    <div class="header__title">
        <h1>
            TechBox.
        </h1>
    </div>
    <div class="header__logo">
        <div class="top"></div>
        <div class="header__logo-cubo">
            <span style="--i:0"></span>
            <span style="--i:1"></span>
            <span style="--i:2"></span>
            <span style="--i:3"></span>
        </div>
        <div class="bottom">Comprar</div>
    </div>
</header>
<nav class="contentMenu__desplegable">
    <div class="menu__desplegable">
        <form action="" class="menu__desplegable-form">
            <input type="text" placeholder="Buscar">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <ul>
            <li>
                <div class="link">
                    <i class="fa-solid fa-house"></i>
                    <a href="/">Inicio</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fas fa-key"></i>
                    <a href="/user/profile">Mi cuenta</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-user"></i>
                    <a href="/user/userLogin">Iniciar Sesion</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-boxes-stacked"></i>
                    <a href="/products">Productos</a>
                </div>
                <span></span>
            </li>
            <li>
                <div class="link">
                    <i class="fa-solid fa-cart-arrow-down"></i>
                    <a href="/products/cart">Carrito</a>
                </div>
                <span></span>
            </li>
        </ul>
    </div>
</nav>